*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:url("bgimage.jpg") no-repeat;
    background-size:cover;
    background-position:center;
}
header{
    position:fixed;
    top:0;
    left:0;
    height:100px;
    width:100%;
    padding:10px 70px;
}

.logo{
    height:140px;
    width:140px;
}
.picture{
    height:700px;
    width:700px;
    background:transparent;
    position:fixed;
    left:90px;
    top:10%;
}
#preloader{
    background:#1775a1 url(loader.gif) no-repeat center center;
    background-size:5%;
    height:100vh;
    width:100%;
    position:fixed;
    z-index:100;
}
    

.one{
    position:fixed;
    width:300px;
    height:400px;
    border:2px solid #151e25;
    border-radius:20px;
    backdrop-filter:blur(20px);
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    /*transform:scale(0);*/
}

.input-box{
    position:relative;
    width:100%;
    height:15%;
    margin:30x 5px;
}
.two h2{
    font-size:1.7em;
    text-align:center;
    color:#111;
    margin:5px 0 40px; 
}
.input-box input{
    width:70%;
    height:60%;
    bottom:50%;
    font-size:1em;
    border-radius:5px;
    background:transparent; 
}
.message input{
    width:100%;
    height:20%;
    font-size:1em;
    border-radius:5px;
    background:transparent;
   
}
.button{
    width:100%;
    height:30px;
    font-size:1em;
    margin:30px 5px ;
    border-radius:10px;
    background:transparent;
}

